* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  max-width: 1190px;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  padding: 100px 20px 700px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.getDiscount {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.getDiscountText {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.getDiscountImg {
}
.getDiscountText > div > h1 {
}

.heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ff690d;
}
.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.getDiscountText > div > p {
}
.oilBtn {
  width: 246px;
  height: 54px;
  opacity: 1;
  gap: 10px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 36px;
  padding-bottom: 16px;
  padding-left: 36px;
  background-color: #ff6f00;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}
.filterBtn {
  width: 226px;
  height: 54px;
  opacity: 1;
  gap: 12px;
  border-radius: 8px;
  gap: 12px;
  border: 2px solid #ff7a00;
  border-radius: 8px;
  text-decoration: none;
  color: #ff7a00;
  background: transparent;
  font-family: Open Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}
.getDiscountBtn {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.termsSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
}
.divCheck {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.containerCheck {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.exploitationSection {
  display: flex;
  background: linear-gradient(90deg, #d9d9d9, #ffffff);
  border-radius: 16px;
  gap: 16px;
}
.exploitationContainer {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 32px 32px;
}
.explotirationText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.exploitationContainerP {
  font-family: "Roboto";
  font-weight: 900;
  font-style: Black;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0px;
}
.exploitationContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.exploitationCkeckConteiner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.onlineBtn {
  min-width: 227px;
  height: 54px;
  opacity: 1;
  gap: 12px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 36px;
  padding-bottom: 16px;
  padding-left: 24px;
  background-color: #ff690d;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}
.divRuleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.ruleSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.addressSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.addressSectionLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  align-items: center;
  width: 165px;
  height: 56px;
  opacity: 1;
  gap: 12px;
  border: 2px solid #ff7a00;
  border-radius: 8px;
  text-decoration: none;
  color: #ff7a00;
}
.spanAdress {
  font-size: 32px;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .getDiscountImg {
    display: none;
  }
  .oilBtn {
    width: 100%;
  }
  .filterBtn {
    width: 100%;
  }
  .explotirationImg {
    display: none;
  }
}
